.red{
    color:rgb(184, 48, 48);
    border: 4px red solid;
    
}
.green{
   color:green;
   border: 4px green solid;

}
.orange{
    color:rgb(216, 98, 29);
    border: 4px rgb(148, 57, 24) solid;

}