.red{
    color:rgb(184, 48, 48);
    border: 4px red solid;
    
}
.green{
   color:lightgreen;
   border: 4px lightgreen solid;

}
.orange{
    color:rgb(216, 98, 29);
    border: 5px orangered solid;

}
.green{
    color:rgb(216, 29, 144);
    border: 4px rgb(78, 0, 20) solid;

}